@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  /* background: #0F1933; */
  background-color: #6F4821;
}

.glass-effect {
  background: #172954d0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.gradient-button {
  background: linear-gradient(180deg, #00A9FF, #0053CA);
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
  border-radius: 10px;
}

/* 
@media (min-width: 431px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
} */